<p>Bonjour {{ user.username }} vous avez demander à reinitiliser votre adresse mail.</p>
<p>Pour continuer merci de cliquer sure le client <a href="{{ url('forgottenPasswordID', {token:token}) }}">ici</a></p>