
{%  extends 'base.html.twig' %}


{% block body %}
    <div class="d-flex flex-row flex-wrap justify-content-around">
        {% for file in files %}

                <img  style="height: 200px; width: 200px" class="js-uploaded-file" src="{{ baseUrl ~ file}}" alt="">

        {%  endfor %}
    </div>
{%  endblock %}


{%  block javascripts %}
    {{ parent() }}
    <script>

        function getUrlParam( paramName ) {
            var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' );
            var match = window.location.search.match( reParam );

            return ( match && match.length > 1 ) ? match[1] : null;
        }

        function returnFileUrl() {

            var funcNum = getUrlParam( 'CKEditorFuncNum' );
            var fileUrl = $(this).attr('src');


            console.log('toto');
            window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl, '');
            window.close();
        }

        $('.js-uploaded-file').click(returnFileUrl);

    </script>

{% endblock %}