<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header bg-primary text-white font-weight-bold">
                    Articles
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre :</span> 140</li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier article modifié :</span><br> nom du dernier article modifier
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier article créé :</span><br> nom du dernier article créé
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #4e9a87; ">
                    Categorie
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre :</span> 10</li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernière catégorie modifiée :</span><br> PHP
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernière catégory créée :</span><br> JavaScript
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #f1bc5f;">
                    Tag
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre :</span> 140</li>
                    <li class="list-group-item">Dernière article modifier : nom du dernier article modifier</li>
                    <li class="list-group-item">Dernier artiucle créer : nom</li>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #2c4344;">
                    Utilisateurs
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre :</span> 5</li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier utilisateur modifié :</span><br> Jérémy
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier utilisateur créée :</span><br> Jérémy
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #fc242c;">
                    Top des Posts
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Top 10 des posts les plus vus :</span></li>

                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card">
                <div class="card-header  text-white font-weight-bold" style="background-color: #9907cf;">
                    Historique des recherches
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item">...</li>
                </div>
            </div>
        </div>
    </div>
</div>


