$max: 12;
$angle: 360/$max;
$size: 120px;
$sizeCircle60 : 60px;
$sizeCircleH : 400px;
$sizeCircleW : 120px;


$fill: dodgerblue;


.l-wrapper {
  position: relative;
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.loading-small{
  height: $sizeCircle60;
  width: $sizeCircle60;
  //margin: 0 2em 2em;
  overflow: visible;
  /*   border: 1px solid red; */
}

.loading-medium{
  height: $sizeCircleH;
  width: $sizeCircleW;
  //margin: 0 2em 2em;
  overflow: visible;
  /*   border: 1px solid red; */
}




.g-circles {
  //transform: scale(.9) translate(7px, 7px);
}

@function transform($item: 1){
  $base: rotate(#{-$angle*$item}deg) translate(5px, 5px);
  @return $base;
}

.g--circle {
  transform-origin: $size/2 $size/2;

  fill: $fill;
  animation: opacity 1.2s linear infinite;

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}){
      animation-delay: -#{$item/10}s;
      transform: transform($item) scale(.9);
    }
  }
}

.g-circles--v1 .g--circle {
  fill-opacity: 0;
  animation-name: opacity;
}


@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }

}

@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }

}

@keyframes colors {
  0% {
    fill: yellowgreen;
  }
  10% {
    fill: gold;
  }
  75% {
    fill: crimson;
  }
}

@keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
  }
  10% {
    stroke: gold;
  }
  75% {
    stroke: crimson;
  }
}



@keyframes transform {
  10% {
    transform-origin: 70px 70px;
    transform: scale(.75);
  }
}

@keyframes transform-2 {
  40% {
    transform: scale(.85) translate(10px,10px);
  }
  60% {
    stroke-width: 20;
  }
}
