.card-body > a:link {
    text-decoration: none;
    color: dimgray;
}

.card-body > a:visited {
    text-decoration: none;
}

.card-body > a:hover {
    text-decoration: none;
}

.card-body > a:active {
    text-decoration: none;
}

.custom_card_img_size_index
{
    width: 74%;
    height: 90%;
}

.custom_card_img_size{
    height: 200px;
}
.custom_card_body_size
{
    height: 200px;
}

.custom-card-centered{

}

.custom_card_without_border{
    border: 0 !important;
}

.custom_card_footer_bg_color{
    background-color: #f4f4f4 !important;
}

.custom_card_text{
    margin-top: 35px;
    margin-bottom: 35px;
}

.custom_card_text_list{
    color: #6b6b6b;
    height: 6rem;
    overflow: hidden;

}

.custom_card_text_index{
    color: #6b6b6b;
}
.custom_carousel{
    margin-top: 50px;
    margin-bottom: 50px;

}

.custom_shadow{
   box-shadow:  0 0.03rem 0.09rem rgba(0,0,0,0.18), 0 0.16rem 0.36rem rgba(0,0,0,0.22);
}

.custom_card_title{
    font-weight: bold;
    font-size: 1.4em;
}



.btn-group a{
    font-size: 1em;
}
.custom_card_title_index{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    max-height: 2.9rem;

}

.custom_carousel_caption{
    background-color: #717171cc;
    width: 100%;
    left: 0 !important;
    right: 0 !important;
}

.custom_card_index_hover_effet:hover{

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: .25rem !important;
    background-color: #fff !important;
}

.custom_card_list_hover_effet{
    transition-duration: 0.2s;
}
.custom_card_list_hover_effet:hover{

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: .25rem !important;
    background-color: #e6e6e6e6 !important;
    transition-duration: 0.2s;

    transition-timing-function: linear;
}

.card_custom_1{
    margin-bottom: 50px;
    background-color: #fffffff0 !important;
}

.custom_jumbotron_bg{
    background-color: #5c396f !important;
}

.js-card-translateEffect{
    animation: card_translate_effect 0.5s;
}

.revealX{
    opacity: 0;
    transform: translateX(-30px);
}

.revealX-visible{
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.animateRevealX{
    animation: animateDefRevealX linear 0.5s;
    animation-iteration-count: 1;
}

.custom_background-btn{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.center-block-page{
    position: absolute;
    width: 600px;
    top: 50%;
    height: 200px;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
}

.jumbotron label,  .jumbotron legend{
    color: #909090;
    /*font-size: 1.5rem;*/
    width: 100%;
    text-align: center;
}

.jumbotron input, .jumbotron textarea{
    background-color: #f8f9fa;
    border: 0;
    color: #999;
}

.custom_bg_blue input, .custom_bg_blue textarea{
    background-color: #f8f9fa;
    border: 0;
    color: #6c757d;

}

.text-gray{
    color: #6c757d;
}

.custom_bg_blue label, .custom_bg_blue legend{
    border: 0;
    color: #f8f9fa;
    font-weight: bold;
}

.p-1rem{
    padding: 1rem 1rem !important;
}
.custom_bg_gray{
    background-color: #eaeaea !important;
}

.custom_bg_gray_dark{
    background-color: #454545 !important;
}

.custom_bg_blue{
    background-color: #008cba !important;
}

.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.custom_bg_green{
    background-color: #6fa939  !important;
}

.text_green{
    color: #6fa939;
}
.custom_bg_green label, .custom_bg_green legend{
    border: 0;
    color: #f8f9fa;

}

.custom_bg_green input, .custom_bg_green textarea{
    background-color: #f3f3f3;;
    border: 0;
    color: #343a40 !important;

}

#form_article .form-group{
    margin-bottom: 0.5rem !important;
}

.invisible_input{
    border: 0;
    background-color: #f8f9fa;
    text-align: center;

}
.invisible_input:focus{
    color: #495057;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    outline: 0;
    box-shadow: 0 0 0 0 #f8f9fa;
}

.footer{
    font-size: small;
    margin: auto;
    background-color: rgba(0,0,0,0.73) !important;
    padding: 0rem 1rem;
}

.vericaltext{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



@keyframes animateDefRevealX {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        transition: 1s cubic-bezier(.5, 0, 0, 1);
    }
}

@keyframes card_translate_effect {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 720px) {
    .custom-card-centered{
        float: none;
        margin: 0 auto;
        width: 95%;
    }

    .custom_card_img_size_index
    {
        width: 100%;
        height: 100%;
    }

}


.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}