.nav-link.active {

    color: #e6e6e6 !important;
    font-weight: bold;
    background-color: #6fa939 !important;
}

.nav-link:hover{
    background-color: rgba(111, 170, 56, 0.61);
     transition: background-color 0.5s;
    color: #fff !important;
}

.custom_border_shadow_admin_content{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    padding-top: 10px;
    margin-left: 150px;
    width: 80% !important;
}
.btn-group{
    white-space: nowrap;
}
