.fileBrowserContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
}


.fileBrowserItem {
    height: 200px;
    width: 200px;

}

.section {
    overflow: hidden;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;
    transition: flex-basis 0.3s ease-out, margin-left 0.3s ease-out, margin-right 0.3s ease-out;
}
.section.collapsed {
    flex-basis: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.scale-up-center:hover {

    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes scale-up-center {
    0% {

        transform: scale(1);
    }
    100% {

        transform: scale(1.1);
    }
}
