<div id="card-#id#" class="col-sm-12 col-md-4 mt-4 animateRevealX">
    <div class="card custom-card-centered custom_card_index_hover_effet custom_card_without_border custom_shadow" style="margin-bottom: 5px; margin-top: 5px;">

        <img id="card-img-#id#" src="" class="card-img-top custom_card_img_size" alt="...">
        <div  class="card-body custom_card_body_size" style="position: relative">
            <a id="btn-show-#id#" href=""><h5 id="card-title-#id#" class="card-title custom_card_title_index"></h5></a>

            <p id="card-description-#id#" class="card-text custom_card_text_list"></p>
            <div class="btn-group" style="position: absolute; bottom: 10px; right: 0; left: 0; font-size: 0.8em">
            </div>

        </div>

        <div class="card-footer text-muted custom_card_footer_bg_color" style="padding-right: 0.1rem !important; border: 0 !important;">
            <div  class="d-flex bd-highlight mb-3" style="font-size: 0.8rem">
                <small class="mr-auto">le : <strong id="card-createdAt-#id#"></strong>  par <strong id="card-user-#id#"></strong> dans <strong id="card-category-#id#"></strong> </small>
                <button id="card-TagsBtn-#id#" class="btn btn-secondary btn-sm dropdown-toggle p-2 bd-highlight" style="margin-top: 4px;" type="button" data-toggle="collapse" data-target="#collapseTags-#id#" aria-expanded="false" aria-controls="collapseExample">Tags</button>
                <a id="card-popover-#id#" tabindex="0" class="p-2 bd-highlight" role="button" data-toggle="popover" data-placement="bottom"><img src="{{ asset('images/ellipsis-16.svg')}}"></a>
            </div>
                <div class="collapse" style="overflow-x: hidden" id="collapseTags-#id#"></div>


        </div>

    </div>


</div>






