{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('article.css') }}" />{% endblock %}

{% block body %}


        <div class="container container_custom_article_title">
            {{ article.title }}
        </div>

    <div class="container container_custom_article_body">
        {{ article.body | raw }}
    </div>

{% endblock %}