{% extends 'base.html.twig' %}



{% block body %}


    <div class="mt-4 mb-5" style="padding: 1.2rem 1rem; width: 80%; margin-right: auto; margin-left: auto; border-bottom: 1px #434343 solid;">
        <h2 class="text-center font-weight-bolder text-dark">{{ article.title }}</h2>
    </div>
    <div class="container">
        {{ article.body | raw }}
    </div>

    {% include 'article/modalValideDelete.html.twig' %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        hljs.initHighlighting();
    </script>
{%  endblock %}